// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index-pals-block .btn {
  color:orange;
  border-color: orange;
  width:60%;
}

#index-pals-block .btn:hover {
  background-color: orange;
  color:white;
}