Users


<table class="table">
  <tr>
    <td>id</td>
    <td>email</td>
  </tr>
  <% @users.each do |user|%>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  
</table>